body {
    background-color: #FFE8D6;
    text-align: center;
}

h1 {
    font-family: 'Yellowtail', cursive;
    font-weight: bold;
    color: #270502;
    font-size: 3rem;
    margin: 2rem auto;
}

h3 {
    font-family: 'Roboto', sans-serif;
}

p {
    font-family: 'Roboto Slab', serif;
}



button {
    background-color: #FA8072;
    border-radius: 5px;
}

main {
    margin: 0 auto;
}

/* nav bar  */
nav {
    width: 100%;
    display: flex;
    margin: 30px 0;
    background-color: whitesmoke;
    border-top: 2px solid maroon;
    border-bottom: 2px solid maroon;
}

ul,
li {
    font-family: Arial, Helvetica, sans-serif;
    display: inline-flex;
    position: relative;
    float: inline-start;
    margin: 1rem 1.5rem;
}

a {
    text-decoration: none;
    color: #3F4238;
}

.nav-links li a:hover {
    color: #B98B73;
}

/* Hero Section */
.hero-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 350px;
    margin: 50px auto;
}


.hero-img {
    z-index: 1;
    max-width: 500px;
    max-height: 300px;
}

.hero-img-bg {
    width: 300px;
    height: 400px;
    top: 150px;
    border-radius: 50%;
    position: absolute;
    z-index: 0;
}

/* main section  */
main {
    margin-bottom: 50px;
}

.info-text {
    line-height: 1.5;
    font-family: Georgia, 'Times New Roman', Times, serif;
}



/* Table Styles  */
table {
    display: block;
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-size: 0.8rem;
    margin: 30px auto;
    overflow-y: scroll;
    width: 600px;
    height: 237px;
    font-family: 'Roboto';
}

td,
th {
    border: 1px solid rgb(190, 190, 190);
    padding: 10px 20px;
}

th {
    background-color: rgb(255, 255, 255);
}

td {
    text-align: center;
}

tr:nth-child(even) td {
    background-color: rgb(245, 214, 214);
}

tr:nth-child(odd) td {
    background-color: rgb(178, 216, 252);
}


/* footer  */
.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 40px 400px;
}

footer p {
    font-size: .7rem;
}

footer i {
    transition: 1s;
    margin-bottom: 30px;
}

footer i:hover {
    color: #6B705C;
}

/* sales page styles  */

fieldset {
    border: 1px solid black;
    text-align: center;
    margin: 30px;
}

fieldset legend {
    margin-bottom: 30px;
}

label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 5px 10px;
}

fieldset input {
    width: 100px;
}

fieldset button {
    margin: 30px;
}




/* media queries  */

/* mobile and tablet  */
@media (min-width:320px) and (max-width: 768px) {
    .hero-img {
        z-index: 1;
        max-width: 50%;
        max-height: 50%;
    }

    .hero-img-bg {
        visibility: hidden;
    }

    .footer-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 40px auto;
    }
}

/* Laptops  */
@media (min-width:769px) and (max-width: 1024px) {
    .hero-img {
        z-index: 1;
        max-width: 500px;
        max-height: 300px;
    }

    .hero-img-bg {
        width: 300px;
        height: 400px;
        top: 150px;
        border-radius: 50%;
        position: absolute;
        z-index: 0;
    }

    .footer-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 40px auto;
    }

}

/* Desktop  */
@media (min-width: 1025px) and (max-width: 1200px) {
    .hero-img {
        z-index: 1;
        max-width: 500px;
        max-height: 300px;
    }

    .hero-img-bg {
        width: 300px;
        height: 400px;
        top: 150px;
        border-radius: 50%;
        position: absolute;
        z-index: 0;
    }
}